@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-secondary-900 bg-[#f8fafc] break-keep text-pretty;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-indigo-600;
  }

  .section-padding {
    @apply py-20 lg:py-32;
  }
}